
*,
*::after,
*::before{
  box-sizing: border-box;
}
.logo {
    width: 60px;
}
.kop3ina {
    width: 50px;
}
.check {
    color: white;
    width: 20px;
    background: deeppink;
    border-radius: 100%;
    position: absolute;
    margin-top: -32px;
    margin-left: 25px;
    text-align: center;
}
.header-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.book-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book {
    width: 400px;
    margin-top: 50px;
    border-radius: -6px;
    background: azure;
}
.book:hover {
    box-shadow: 10px 10px 10px black;
}
.wrapper {
    display: flex;
    width: 400px;
}
.wrapper-control {
    display: inline-flex;
    border: 2px solid;
}
.control-minus,
.control-plus {
    height: 25px;
    width: 25px;
}
.control-current {
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
button:hover {
    cursor: pointer;
}
.img-book {
    width: 200px;
    border-style: outset;
}
.price-total-element {
    display: flex;
}
.card-kop3ina {
    display: none;
    width: 100px;
    background: violet;
}
.popap {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background: rgba(41, 41, 41, 0.6);
}
.popap.open {
    display: flex;
}
.popap.close {
    display: none;
}
.descriptionPopap {
    max-width: 600px;
    min-height: 68px;
    font-size: 20px;
    background: white;
}
.book:hover {
    cursor: pointer;
}
.book:hover .card-kop3ina {
    display: block;
}